#root {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  color:white;
}

h2 {
  color:darkmagenta
}

ul {
  list-style-type: none;
  color:darkblue;
  padding-inline-start: 0px;
}

#feature {
  background-color:gray;
  padding: 1px 20px 1px 20px;
}